.listofpingstat label {
  font-family: 'Jaldi', sans-serif;
  color: #BBB;
}

.pingstat > :not(:last-child) {
  margin-right: 8px;
}

.pingstatbar {
  display: inline-block;
}

.pingstatbarbox {
  margin: 0;
  display: inline-block;
  height: 0.75em;
  width: 0.375em;
  border: 1px solid #9851BF;
}

.pingstatbarbox:nth-child(2n+1) {
  border-top-left-radius: 50% 25%;
  border-bottom-left-radius: 50% 25%;
  border-right: none;
}

.pingstatbarbox:nth-child(2n) {
  border-top-right-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  border-left: none;
}

.pingstatbarbox:nth-child(2n):not(:last-child) {
  margin-right: 1px;
}

.pingstatbarbox.filled {
  background-color: #A90DFF;
}

.pingstatvideolink {
  display: inline-block;
  font-family: 'Jaldi', sans-serif;
  max-width: calc(100% - 212px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  color: #EBEB02;
}

.pingstatvideolink a {
  text-decoration: none;
  color: #EBEB02;
}

.pingstatdatetime {
  display: inline-block;
  font-family: 'Yantramanav', sans-serif;
  font-size: 0.75em;
  color: #BBB;
}
